
.parkingLot{
	/*position: fixed;*/
	/*background-color: green;*/
	height: 100vh;
	width: 100vw;
}


.charging img{
	height:300px!important;
	margin:20px;
}

.chargingCars{

	 height: 90vh; /* %-height of the viewport */
    /*position: fixed;*/
    overflow-y: scroll;
}





.queueContainer{
	/*position: absolute;*/
	/*right:-200px;*/
}

.queue {
    height: 90vh; /* %-height of the viewport */
    position: fixed;
    overflow-y: scroll;
    float: right;
}

.queue img {
	height:90px;
	margin:20px;
	margin-left: 50px;
	text-align: center;
	padding: 5px;
}

.queue h5{
	font-size: 10px;
	margin-left: 50px;
}
.queue p{
	font-size: 7px;
	font-weight: bolder;
	margin-left: 50px;
}


.queueCar div{
	display: none;
}
.queueCar:hover div{
	display: block!important;
}
.queueCar:hover img{
	height: 50px!important;
}








.car div{
	display: none;
}
.car:hover div{
	display: block!important;
}
.car:hover img{
	height: 200px!important;
}



.infoDev{
	text-align: center;
}